arczy :p.zegar {
  font-size: 80px;
  /* color: rgb(122,122,122) */
  color: rgb(122, 122, 122);
}

.kaczuszkaTytul {
  /* to jest margines tagu z taką klasą */
  margin-left: 250px;

  /* kolor tekstu */
  color: green;

  /* Jakas transformacja tutaj robie rotacje wg os  X o 0 st9 */
  transform: rotateX(7deg);

  /* to jest przygotowanie animacji czyli 
    transition: 
      all = wszystkie zmiany
      ease-in takie cos ;p
      100ms czas trwania
   */
  transition: all ease-in 100ms;
}
/* :hover to taka specjalna klasa ktora jest wlaczana jak sie myszka najedzie na ten elemet */
.kaczuszkaTytul:hover {
  transform: rotateX(150deg);
  color: red;
}

.obrazekSarna {
  transition: all ease-in 500ms;
}

.rozmazanaSarna {
  filter: blur(5px);
}
